.hero{
  height: auto;
  background-size: cover;
  position: relative;
  min-height: 92vh;
  box-shadow: inset 0px 0px 600px rgba(0,0,0,0.9);
}

.serv{
  height:70vh;
  background-size: cover;
}
.back1{
  background-image: url(../assets/t_Model_3.jpg);
}

.back2{
  background-image: url(../assets/background1.jpg);
  box-shadow: inset 0px 0px 600px rgba(0,0,0,0.9); 
}


.hero h1 {
  display: flex;
  height: 65vh;
  margin-left: 50%;
  padding-right: 1rem;
  align-items: center;
  color: white;
  font-size: 5em;
  margin-bottom: -10%;
}

.hero h2{
  display: flex;  
  margin-left: 50%;
  padding-right: 1rem;
  align-items: center;
  color: white;
  text-align: center;
}

.col{
  color: aliceblue;
}

.card-title{
  text-align: left;
}
.card-text{
  text-align: left;
  color: #9d9c9c;
}
.exp{
  height: 20vh;
}
.space{
  padding: 7%;
  padding-top: 10%;
  align-items: center;
}

.us{
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: aliceblue;
}

@media (max-width:600px) {
  .us{
    font-size: 2.5rem;
  }
  .serv{
    background-size: cover;
    height: 110vh;
  }
  .hero h1{
    font-size: 4.5em;
    margin-left: 0%;
    margin-top: -20%;
    padding-right: 0rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 0%;
  }
  
    .hero h2{
      align-items: center;
      margin-left: 0%;
      justify-content: center;
    }
    .hero{
      align-items: center;
      justify-content: center;
    }
  
}

@media (max-width:450px) {
  .us{
    font-size: 2.2rem;
  }
  
}

#card{
  margin-left: 12%;
}

@media (max-width:1400px) and (min-width:600px){
  .hero h1{
  font-size: 4.5em;
  margin-left: 0%;
  margin-top: -20%;
  padding-right: 0rem;
  justify-content: center;
  text-align: center;
  margin-bottom: 0%;
}

  .hero h2{
    align-items: center;
    margin-left: 0%;
    justify-content: center;
  }
  .hero{
    align-items: center;
    justify-content: center;
  }

  .serv{
    height: 85vh;
  }
}
