.hero{
  background-image: url(../assets/t_Model_3.jpg);
  height: auto;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  box-shadow: inset 0px 0px 600px rgba(0,0,0,0.9);
}

.hero h1 {
  display: flex;
  height: 65vh;
  margin-left: 50%;
  padding-right: 1rem;
  align-items: center;
  color: white;
  font-size: 5em;
  margin-bottom: -10%;
}

.hero h2{
  display: flex;  
  margin-left: 50%;
  padding-right: 1rem;
  align-items: center;
  color: white;
}


@media (max-width:1400px){
  .hero h1{
  font-size: 4.5em;
  margin-left: 0%;
  padding-top: 3em;
  padding-right: 0rem;
  justify-content: center;
  text-align: center;
  }

  .hero h2{
    align-items: center;
    margin-left: 0%;
    justify-content: center;
  }
  .hero{
    align-items: center;
    justify-content: center;
  }
}
