@import url('https://fonts.cdnfonts.com/css/abeezee');             


.hero{
  height: auto;
  background-size: cover;
  position: relative;
  min-height: 92vh;
  box-shadow: inset 0px 0px 600px rgba(0,0,0,0.9);
}

.serv{
  height:70vh;
  background-size: cover;
}
.back1{
  background-image: url(../assets/t_Model_3.jpg);
}

.back2{
  background-image: url(../assets/background1.jpg);
  box-shadow: inset 0px 0px 600px rgba(0,0,0,0.9); 
}


.hero h1 {
  display: flex;
  height: 65vh;
  margin-left: 45vw;
  padding-right: 1vh;
  margin-top: -5vh;
  align-items: center;
  color: white;
  font-size: 5vw;
  margin-bottom: -10vh;
}

.hero h2{
  display: flex;  
  margin-left: 50%;
  padding-right: 1vw;
  align-items: center;
  color: white;
  text-align: center;
}

.col{
  color: aliceblue;
}

.card-title{
  text-align: left;
}
.card-text{
  text-align: left;
  color: #9d9c9c;
}
.exp{
  height: 20vh;
}
.space{
  padding: 7%;
  padding-top: 10%;
  align-items: center;
}

.us{
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: aliceblue;
}

@media (max-width:600px) {
  .us{
    font-size: 2.5rem;
  }
  .serv{
    background-size: cover;
    height: 110vh;
  }
  .hero h1{
    font-size: 10vw;
    margin-left: 0%;
    padding-right: 0rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 0%;
  }
  
    .hero h2{
      align-items: center;
      margin-left: 0%;
      justify-content: center;
    }
    .hero{
      align-items: center;
      justify-content: center;
    }
  
}

.footer{
  background-color: #2A2B2E ;
}

.ft{
  font-size: 1.2rem;
  font-weight: 500;
  color: aliceblue;
}




@media (max-width:450px) {
  .us{
    font-size: 2.2rem;
  }

  .hero h1{
    margin-top: 50vh;
  }
  
}

#card{
  margin-left: 12%;
}

@media (max-width:1000px) and (min-width:600px){
  .hero h1{
  font-size: 4.5em;
  margin-left: 0%;
  padding-right: 0rem;
  justify-content: center;
  text-align: center;
  margin-bottom: 0%;
}

  .hero h2{
    align-items: center;
    margin-left: 0%;
    justify-content: center;
  }
  .hero{
    align-items: center;
    justify-content: center;
  }

  .serv{
    height: 85vh;
  }
}


.return{
  background-color: #1C2631;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: none;
  color: white;
  align-items: center;
  padding-top: 4px;
}

.logoContainer{
  margin-left: 34%;
  margin-top: 6%;
}

.logoImage{
  width: 50%;
}

.wrapper{
  background-image: url("./assets/fondo.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 4vh;
}

.login {
  width: 400px;
  height: 91vh;
  padding: 20px;
  border-radius: 5px;
  color: black;
  background-color: #253343;
  font-family: 'ABeeZee';      
  position: sticky;                                        
}

.form-label{
  color: #00B86B;
  font-style: italic;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.form-control{
  border: 1px solid #6783A0;
  background-color: #30445B;
  color:white;
}

.form-control:focus {
  background-color: #233242;
  color:white;
}

.title{
  color:white;
  padding-top: 15%;
  padding-bottom: 10%;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

.btn{
  margin-left: 36%;
  position: absolute;
}

.triangle {
  width: 0;
  height: 100%;
  border-left: 0;
  border-right: 700px solid transparent;
  border-top: 0;
  border-bottom: 700px solid #1C2631;
  bottom: 0;
  margin-left: -10%;
  position: fixed;
}

.btnClient, .btnGerente, .btnJefe, .btnVendedor{
  color: white;  
  width: 80%;
  margin-left: 10%;
  height: 8%;
  border-radius: 5px;
  margin-bottom: 7%;
  border: none;
}

.btnClient{
  background-color: #C6B307;
}

.btnClient:hover{
  background-color:  #ac9b07;
}

.btnJefe{
  background-color: #277B7B;
}

.btnJefe:hover{
  background-color:  #194d4d;
}

.btnGerente{
  background-color: #DE6767;
}

.btnGerente:hover{
  background-color:  #b85454;
}

.btnVendedor{
  background-color: #20A04F;
}

.btnVendedor:hover{
  background-color:  #177539;
}